---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css';

import '@fontsource-variable/source-serif-4';
import sourceSerif4 from '@fontsource-variable/source-serif-4/files/source-serif-4-latin-standard-normal.woff2?url';

interface Props {
	description: string;
	image?: string;
	title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { description, image = '/blog-placeholder-1.jpg', title } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<meta content={Astro.generator} name="generator" />

<script
	data-id="b8bf436e-c545-43aa-bb4d-e03697bc5bd2"
	data-utcoffset="1"
	src="https://cdn.counter.dev/script.js"
	type="text/partytown"></script>

<!-- Font preloads -->
<link
	as="font"
	crossorigin="anonymous"
	href={sourceSerif4}
	rel="preload"
	type="font/woff2"
/>

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta content={title} name="title" />
<meta content={description} name="description" />

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type" />
<meta content={Astro.url} property="og:url" />
<meta content={title} property="og:title" />
<meta content={description} property="og:description" />
<meta content={new URL(image, Astro.url)} property="og:image" />

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card" />
<meta content={Astro.url} property="twitter:url" />
<meta content={title} property="twitter:title" />
<meta content={description} property="twitter:description" />
<meta content={new URL(image, Astro.url)} property="twitter:image" />
