---
import { SITE_TITLE } from '~/consts';

const year = new Date().getFullYear();

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<footer
	aria-label={`${SITE_TITLE}, ${year}`}
	class:list={['bg-black px-10', className]}
	itemprop="copyrightNotice"
>
	<div class="font-light max-w-screen-2xl mx-auto py-10 flex gap-4">
		{SITE_TITLE}, {year}
		<a class="hover:text-violet-300 transition-colors" href="/privacy">
			Privacy Policy
		</a>
	</div>
	<div
		class="hidden"
		id="author"
		itemprop="author"
		itemscope
		itemtype="http://schema.org/Person"
	>
		<meta content="Echo" itemprop="name" />
		<meta content="Gender Nebula" itemprop="gender" />
		{Astro.site && <meta content={Astro.site.toString()} itemprop="url" />}
	</div>
</footer>
