---
import { SITE_TITLE } from '~/consts';

import Link from './Link.astro';

const year = new Date().getFullYear();

interface Props {
	background?: boolean;
	class?: string;
}

const { background = true, class: className } = Astro.props;
---

<footer
	aria-label={`${SITE_TITLE}, ${year}`}
	class:list={['px-10', background && 'bg-black', className]}
	itemprop="copyrightNotice"
>
	<div class="mx-auto flex max-w-screen-2xl gap-4 py-10 font-light">
		{SITE_TITLE}, {year}
		<Link href="/privacy" text="Privacy Policy" />
		<Link
			href="https://github.com/ChaosExAnima/echonyc.blog"
			text="Source code"
		/>
	</div>
	<div
		class="hidden"
		id="author"
		itemprop="author"
		itemscope
		itemtype="http://schema.org/Person"
	>
		<meta content="Echo" itemprop="name" />
		<meta content="Gender Nebula" itemprop="gender" />
		{Astro.site && <meta content={Astro.site.toString()} itemprop="url" />}
	</div>
</footer>
