---
import { SITE_TITLE } from '~/consts';

const year = new Date().getFullYear();

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<footer
	aria-label={`${SITE_TITLE}, ${year}`}
	class:list={['bg-black px-10', className]}
	itemprop="copyrightNotice"
>
	<div class="mx-auto flex max-w-screen-2xl gap-4 py-10 font-light">
		{SITE_TITLE}, {year}
		<a class="transition-colors hover:text-violet-300" href="/privacy">
			Privacy Policy
		</a>
	</div>
	<div
		class="hidden"
		id="author"
		itemprop="author"
		itemscope
		itemtype="http://schema.org/Person"
	>
		<meta content="Echo" itemprop="name" />
		<meta content="Gender Nebula" itemprop="gender" />
		{Astro.site && <meta content={Astro.site.toString()} itemprop="url" />}
	</div>
</footer>
