---
import { Image } from 'astro:assets';

import { getThumbhash } from '~/lib/images';
import { getPostPath, type Post } from '~/lib/posts';

import FormattedDate from './FormattedDate.astro';
import ImagePlaceholder from './Image';

type Props = Post;
const post = Astro.props;

const gradient = 'bg-gradient-to-b from-stone-200 to-stone-800';
const hash = post.data.coverImage
	? await getThumbhash(post.data.coverImage)
	: '';
---

<a href={getPostPath(post)}>
	{
		post.data.coverImage && (
			<ImagePlaceholder
				className="h-80 image-filter rounded-md w-full"
				client:only="react"
				hash={hash}
			>
				<Image
					alt={post.data.coverAlt ?? ''}
					class="object-cover h-80 image-filter rounded-md w-full"
					src={post.data.coverImage}
				/>
			</ImagePlaceholder>
		)
	}
	{
		!post.data.coverImage && (
			<div
				class:list={['w-full h-80 rounded-md image-filter', gradient]}
			/>
		)
	}
	<h4 class="font-thin text-3xl my-4">{post.data.title}</h4>
	<p>
		<FormattedDate date={post.data.date} />
	</p>
</a>
