---
import { getPostPath, type Post, postImageHash } from '~/lib/posts';

import FormattedDate from './FormattedDate.astro';
import Image from './Image.astro';

type Props = Post;
const post = Astro.props;

const hash = await postImageHash(post);
---

<script src="~/scripts/images.ts"></script>
<a
	aria-labelledby={`post-${post.id}`}
	href={getPostPath(post)}
	itemprop="blogPost"
	itemscope
	itemtype="http://schema.org/BlogPosting"
>
	{
		post.data.coverImage ? (
			<Image
				alt={post.data.coverAlt ?? ''}
				class="h-80 rounded-md w-full"
				hash={hash}
				src={post.data.coverImage}
			/>
		) : (
			<div class="w-full h-80 rounded-md image-filter" data-hash={hash} />
		)
	}
	<h3
		class="font-thin text-3xl my-4"
		id={`post-${post.id}`}
		itemprop="headline"
	>
		{post.data.title}
	</h3>
	<p>
		<FormattedDate date={post.data.date} />
	</p>
</a>
