---
import BaseHead from '~/components/BaseHead.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';

interface Props {
	class?: string;
	description?: string;
	title?: string;
}

const {
	class: className = '',
	description = SITE_DESCRIPTION,
	title: propTitle,
} = Astro.props;

let title = '';
if (propTitle) {
	title = `${propTitle} – ${SITE_TITLE}`;
} else {
	title = `${SITE_TITLE} – ${SITE_DESCRIPTION}`;
}
---

<html lang="en">
	<head>
		<BaseHead description={description} title={title} />
	</head>
	<body class="bg-black text-white text-lg">
		<Header />
		<main class:list={['xl:max-w-screen-xl mx-auto px-10', className]}>
			<slot />
		</main>
		<Footer />
		<slot name="end" />
	</body>
</html>
