---
import type { ImageMetadata } from 'astro';
import type { HTMLAttributes } from 'astro/types';

import BaseHead from '~/components/BaseHead.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import StarField from '~/components/StarField.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/lib/constants';

interface Props extends HTMLAttributes<'main'> {
	class?: string;
	description?: string;
	image?: ImageMetadata;
	noStars?: boolean;
	title?: string;
}

const {
	class: className = '',
	description = SITE_DESCRIPTION,
	image,
	noStars = false,
	title: propTitle,
	...attributes
} = Astro.props;

let title = '';
if (propTitle) {
	title = `${propTitle} – ${SITE_TITLE}`;
} else {
	title = `${SITE_TITLE} – ${SITE_DESCRIPTION}`;
}
---

<html lang="en">
	<head>
		<BaseHead description={description} image={image} title={title} />
	</head>
	<body
		class="font-weight-normal flex flex-col bg-black font-serif text-lg text-white"
	>
		<main
			{...attributes}
			class:list={['order-2 mx-auto px-10 xl:max-w-7xl', className]}
			itemid={Astro.url.toString()}
			itemref="author"
			itemscope
			itemtype="http://schema.org/Blog"
		>
			<slot />
		</main>
		<Header background={noStars} class="order-1" />
		<Footer background={noStars} class="order-3" />
		<slot name="end" />
		{!noStars && <StarField />}
	</body>
</html>
