---
import type { HTMLAttributes } from 'astro/types';

import BaseHead from '~/components/BaseHead.astro';
import Footer from '~/components/Footer.astro';
import Header from '~/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '~/consts';

interface Props extends HTMLAttributes<'main'> {
	class?: string;
	description?: string;
	title?: string;
}

const {
	class: className = '',
	description = SITE_DESCRIPTION,
	title: propTitle,
	...attributes
} = Astro.props;

let title = '';
if (propTitle) {
	title = `${propTitle} – ${SITE_TITLE}`;
} else {
	title = `${SITE_TITLE} – ${SITE_DESCRIPTION}`;
}
---

<html lang="en">
	<head>
		<BaseHead description={description} title={title} />
	</head>
	<body class="flex flex-col bg-black font-serif text-lg text-white">
		<main
			{...attributes}
			class:list={['order-2 mx-auto px-10 xl:max-w-screen-xl', className]}
			itemid={Astro.url.toString()}
			itemref="author"
			itemscope
			itemtype="http://schema.org/Blog"
		>
			<slot />
		</main>
		<Header class="order-1" />
		<Footer class="order-3" />
		<slot name="end" />
	</body>
</html>
