---
import type { CollectionEntry } from 'astro:content';

import Image from '~/components/Image.astro';
import PostMeta from '~/components/PostMeta.astro';
import Prose from '~/components/Prose.astro';
import { getThumbhash } from '~/lib/images';

import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { categories = [], coverAlt, coverImage, date, title } = Astro.props;
const hash = coverImage ? await getThumbhash(coverImage) : '';
---

<BaseLayout
	itemref="cover-image author"
	itemtype="http://schema.org/BlogPosting"
	noStars={!!coverImage}
>
	{
		coverImage && (
			<Image
				alt={coverAlt ?? ''}
				class="w-screen min-w-80 object-cover object-center"
				hash={hash}
				layout="full-width"
				loading="eager"
				src={coverImage}
				wrapperClass="fixed top-0 left-0 right-0 -z-10 min-h-screen overflow-hidden flex justify-center"
			/>
		)
	}
	<Prose
		class:list={[
			'mb-10 rounded-md p-10',
			coverImage && 'mt-[20vh] bg-black/90',
			!coverImage && 'bg-black/20',
		]}
		itemprop="articleBody"
	>
		<h1 aria-label={title} class="mb-0" id="post-title" itemprop="name">
			{title}
		</h1>
		<PostMeta categories={categories} date={date} />
		<slot />
	</Prose>
</BaseLayout>
