---
import type { CollectionEntry } from 'astro:content';

import { Image } from 'astro:assets';

import Prose from '~/components/Prose.astro';

import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { categories = [], coverAlt, coverImage, date, title } = Astro.props;
---

<BaseLayout title={title}>
	{
		coverImage && (
			<div
				class="fixed top-0 left-0 right-0 -z-10 max-h-screen overflow-hidden flex justify-center"
				slot="end"
			>
				<Image
					alt={coverAlt ?? ''}
					class="image-filter w-screen min-w-80"
					src={coverImage}
				/>
			</div>
		)
	}
	<Prose
		class:list={[
			'bg-black p-10 rounded-md mb-10',
			coverImage && 'mt-[20vh]',
		]}
	>
		<h1 class="mb-0">{title}</h1>
		<p class="italic font-light text-base mb-10">
			<FormattedDate date={date} />
			{
				categories.length > 0 && (
					<span>
						&ndash; Filed under:&nbsp;
						{categories.map((category, index) => (
							<>
								<a href={`/category/${category}`}>{category}</a>
								{index < categories.length - 1 && ', '}
							</>
						))}
					</span>
				)
			}
		</p>
		<slot />
	</Prose>
</BaseLayout>
